#savebutton{
  float: left;
  margin-left: 3em;
  margin-right: 3em;
  position: fixed;
  bottom: 2em;
  z-index: 10;
  right: 0.5em;
  width: 15em;
  transform: translateX(-5%);
}
.jira-issue {
    visibility: hidden;
}
.inline-checkbox {
    display: inline;
    padding-right: 2em !important;
}




ul#topics-parent {
  column-count: 3;
}
form.aui legend, form.aui label {
  font-weight: bold !important;
  color: #000 !important;
  font-size: 1.3em !important;
}

.aui-group>.aui-item {
  display: block !important;
  
}


.cata-tooltiptext {
  color: #333;
  font-size: 0.95em;
}


#submitbutton {
  float: left;
  margin-left: 3em;
  margin-right: 3em;
  position: fixed;
  bottom: 0.4em;
  z-index: 10;
  right: 0.5em;
  width: 15em;
  transform: translateX(-5%);
}

.aui-group {
  margin-bottom: 2em;
}

.aui-group>.aui-item+.aui-item {
  margin-top: 0.6em;
}

form.aui .checkbox>label, form.aui .radio>label {
  color: #172b4d !important;
  font-size: 1em;
}


/*.aui-group.conf-macro.output-inline {
  padding-bottom: 2em;
}*/

form#a1efd265-8cca-4242-933a-1f0990910d79 {

  height: 0;

}

#savedPopUp {

  display: none;
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border: black;
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: none;
      border-left-style: none;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.3em;


}

#submitWarningPopUp {

  display: none;
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  border: black;
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: none;
      border-left-style: none;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.3em;


}

#loadingBar {

  display: none;

}

.select.mediumField {
  height: 2.7em;
}


element.style {
}
#savedPopUp button {
    /* position: absolute; */
    /* bottom: 0; */
    height: 3em;
    background: transparent linear-gradient(to bottom, #df121e 0px, #df121f 100%) repeat scroll 0% 0%;
    border: none;
    text-shadow: none;
    color: white;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}